{% extends "base.html" %}

{% block contents %}
<h1>Login</h1>
<div id="loginAlert" class="alert alert-danger" role="alert" style="display: none;">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">ユーザー名</label>
  <input id="loginName" name="name" type="text" class="form-control" id="formGroupExampleInput">
</div>
<div class="form-group">
  <label for="exampleInputPassword1">パスワード</label>
  <input id="loginPassword" name="password" type="password" class="form-control" id="exampleInputPassword1">
</div>
<button id="loginButton" type="submit" class="btn btn-primary">ログイン</button>

{% load static %}
<script src="{% static 'js/login/login.js' %}"></script>

{% endblock contents %}
